<h3><b><i><s>HEROES</s></i></b></h3>
<br>
<h2>como todos nosotros somos los ejemplos y heroes de los seres vivos
    con el poder de {{nombre}}
</h2>

<dl>
    <td> Nombre: </td>
    <dd>{{ nombre }}</dd>

    <td> Edad: </td>
    <dd>{{ edad }}</dd>

    <td> Funcion: </td>
    <dd>{{ ontenernombre() }}</dd>

    <td> Capitalzado: </td>
    <dd>{{ nombreCapitalizado }}</dd>
    <br>

    <button (click)="cambiarnombre()"> Cambiar Nombre</button>


    <button (click)="cambiaredad()"> Cambiar Edad</button>


</dl>